*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
 max-width: 1550px;
}

a{
  text-decoration: none;
}

ul, ol{
 list-style: none;
}

button{
  border: none
}


.container {
  width: 1440px;
  margin: auto;
  display: block;
  margin: auto;
  border: 2px solid #000;
 }

.services_content {

}

.services_top_heading {

}

.services_card_box {

}

.card {

}

.card_heading {

}

.card_info_text {

}

.card_btn {

}