* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    max-width: 1550px;
    background: #1C1C1E;
}

a {
    text-decoration: none;
}

ul,ol {
    list-style: none;
}

button {
    border: none
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    margin-bottom: 30px;
    .col-6{
        width: 710px;
        margin: 10px -80px 0 0 ;
        .img{
            border-radius: 22px;
        }
        .img:hover{
            opacity: 0.8;
            cursor: pointer;
        }
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1440px;
    margin: auto;
}
.title{
    margin:65px 0 30px 0;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: aliceblue;
}

@mixin text ($size, $weight, $color) {
    font-style: $size;
    font-weight: $weight;
    color: $color;
}

.site{
    color: azure;
}


body {
    max-width: 1550px;
    background: #1C1C1E;
    
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

button {
    border: none
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1440px;
    width: 100%;
    display: block;
    margin: auto;
    // background-color: antiquewhite;
}

@mixin text ($size, $weight, $color) {
    font-style: $size;
    font-weight: $weight;
    color: $color;
}

.site {
    .header {
        .nav {
            display: flex;
            justify-content: space-between;
            padding: 60px 0;
            
            img {
                width: 106px;
                height: 43px;
            }
            
            ul {
                display: flex;
                gap: 35px;
                @include text(16px, 500, white);
                align-items: center;
                
                .nav-header-menu {
                    border: 1px solid;
                    border-radius: 75px;
                }
                
                
                li {
                    opacity: 0.3;
                    
                    
                    button {
                        padding: 5px;
                        border-radius: 75px;
                        border: none;
                        background: transparent;
                        
                        p {
                            @include text(16px, 500, white);
                            line-height: 23px;
                            opacity: 0.4;
                        }
                    }
                }
            }
        }
    }
        
        .hero {
            height: 415px;
            background-image: url(../Images//Images/Rectangle\ 11.png);
            position: relative;
            
                .hero-btns {
                    position: absolute;
                    top: -20px;
                    left: 150px;
                    display: flex;
                    gap: 5px;
                    


                    button {
                        @extend .flex;
                        width: 163px;
                        height: 42px;
                        border-radius: 50px;
                        border: 1px solid;
                        font-size: 16px;
                        font-weight: 600;
                        align-items: center;
                        display: flex;
                        gap: 5px;
                    }
                                        
                }

            

            }

            .hero_bottom_box {
                width: 1200px;
                height:00px;
                margin: auto;
                display: flex;
                justify-content: space-around;
                margin-top: 40px;
            }
            .hero_end_text {
                color: aliceblue;
                width: 650px;
            }
            .hero_end_btn {
                width: 50px;
                height: 70px;
                background-color: #fcfcfc7b;
                border-radius: 30px;
                border: 2px solid #fff;
                margin: 70px;
            }
    }